<div class="coucou">
	<p>
		Coucou
	<p>
	<p>
		Coucou 2
	</p>
	<p>
		Coucou 3
	</p>
	<%= image_tag "moi.jpg" %>
	<%= image_tag "ragnar.jpeg" %>
	<%= image_tag "rollo.jpg" %>

	<div class="share-buttons">
	    <!-- Facebook -->
	    <a href="http://www.facebook.com/sharer.php?u=http://spinogo.com//social" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
	    </a>

	    <!-- Google+ -->
	    <a href="https://plus.google.com/share?url=https://spinogo.com//social" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/google.png" alt="Google" />
	    </a>

	    <!-- LinkedIn -->
	    <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=https://simplesharebuttons.com" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/linkedin.png" alt="LinkedIn" />
	    </a>

	     <!-- Twitter -->
	    <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
	        <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
	    </a>
    </div>
</div>
