<!DOCTYPE html>
<html>
<head>
  <title>Socialtest</title>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta property="og:site_name" content="My Favorite News"/>
  <meta property="og:title" content="Workday Sets Price Range for I.P.O." />
  <meta property="og:url" content="http://www.myfavnews.com/2013/1/1/workday-price-range" /></head>
  <meta property="og:description" content="Descripshen of ze ouebsite" />
  <meta property="og:type" content="article" />
  <meta property="og:image" content="http://spinogo.com/assets/ragnar-ade06efb0efa1ff81082784f2ab25df5.jpeg" />
<body>
<div class="container">
    <%= yield %>
</div>

</body>
</html>
